<nav>
    <ul>
    <a href="/admin">Home</a>
    <a href="/authors">Authors</a>
    <a href="/quotes">Quotes</a>
    <a href="/addAuthor">Add Author</a>
    <a href="/addQuote">Add Quote</a>
    <a href="/logout">Log Out (<%= locals.fullName %>)</a>
    </ul>
</nav>