<!-- Brandon Calvario, CST336 -->

<nav class="navbar">
  <a href="/" class="nav-brand">Earthquake Tracker</a>
  <ul class="nav-links">
    <li><a href="/" class="nav-link">Home / Live Feed</a></li>
    <li><a href="/search" class="nav-link">Search</a></li>
    <li><a href="/about" class="nav-link">About</a></li>
  </ul>
</nav>

