<img src="<%= asteroidInfo.image %>" class="card-img-top" alt="Asteroid" style="max-height: 350px; object-fit: cover;">
<div class="card-body text-center">
    <a href="<%= asteroidInfo.link %>" target="_blank" class="btn btn-info">

        <p class="card-text fs-5">
            <%= asteroidInfo.def %>
        </p>