<%= cometInfo.def %>
    <img src="<%= cometInfo.image %>" class="card-img-top" alt="Comet" style="max-height: 350px; object-fit: cover;">
    <div class="card-body text-center">
        <a href="<%= cometInfo.link %>" target="_blank" class="btn btn-info">
        </a>