<footer class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0"> Solar System, Data from <a href="https://solarsystem.nasa.gov" class="text-info" target="_blank">NASA</a></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
