# .env.example
# In order to replicate the contents for my project you will need the following: 
# Cloudflare R2
R2_ENDPOINT=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
R2_ACCESS_KEY=your_r2_access_key_here
R2_SECRET_KEY=your_r2_secret_key_here
R2_BUCKET=your_bucket_name
# TMDB
TMDB_KEY=your_tmdb_api_key_here
# Cloudflare Worker
WORKER_URL=https://your-worker.your-name.workers.dev
STREAM_SECRET=your_stream_secret_here