<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Adding a New Author </h1>

    <form action="/addAuthor" method="POST">

        First Name: <input type="text" name="firstName"> <br>
        Last Name: <input type="text" name="lastName"> <br>
        Date of Birth:  <input type="date" name="dob"> <br>
        Biography: <textarea name="bio"></textarea> <br>

        <button> Add Author! </button>

    </form>


</body>
</html>