<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Add a new quote </h1>

    <form action="/addQuote" method="POST">
        Quote: 
        <input type="text" name="quote"><br>
        Author 
        <select name="authorId">
            <% authorList.forEach(author => { %>
                <option value="<%=author.authorId%>">
                    <%= author.firstName%> <%= author.lastName%>
                </option>
            <% }) %>
        </select><br>
        <button> Submit new quote</button>

    </form>

</body>

</html>