<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7: Famous Quotes - Admin Section </title>
</head>
<body>
    
    <h1> Admin Section </h1>


    <form action="/addAuthor" method="GET">
        <button> Add Authors </button>
    </form>

    <br>

    <form action="/addQuote">
        <button> Add Quotes </button>
    </form>

    <br>

    <form action="/authors" method="GET">
        <button> All Authors </button>
    </form>

    <br>

    <form action="/quotes">
        <button> All Quotes </button>
    </form>

    <form action="/logout">
        <button>Log out</button>
    </form>

    <br> 
</body>
</html>